body{
	background-image: url(../images/bodybg.gif);
	font-size: 12px;
	color: #522a06;
	font-family: '宋体';
	border-style: none;
	list-style-type:none;
	
}
*{
	margin:0 auto;
	padding: 0;
	border: 0px;

}
a{
	text-decoration: none;
	color: #fff;
}
a:link{
	color: #522a06;
}
a:hover{
	text-decoration: underline;
}
#header{
	background-image: url(../images/bg.gif);
	height: 205px;
	background-repeat: no-repeat;
	width: 100%;
}
#banner{
	float: left;
	margin-left: 25px;
	margin-top: 38px;
	width: 1000px;
	height: 130px;		
}
#nav{	
	float:left;		
	height: 40px;
	background-image: url(../images/nav.jpg);
	width: 100%;
	background-repeat: repeat-x;
	height: 40px;
	padding: 0;
	margin-top: auto 0;
}
.nav_body{
	width: 1000px;
	font-weight: bold;
	color: #522a06;
	line-height: 40px;
			
}

.nav_content{
	width: 800px;
	position: center;
	float: left;
}
a.two:link{
	color: #fff;
}
a.two:hover{
	text-decoration: none;
	color: #f9f603;
}
.nav_serach{
	float: right;
}
#content{
	width: 1000px;
	overflow: hidden;
	color: #522a06;
}
#content_left{
	width: 700px;
	float: left;

}
a.lj{
	color: #522a06;
}
#content_right{
	width: 280px;
	float: left;
	margin-left: 16px;
}
#doctitle{
	font-weight: bold;
	text-align: center;
	width: 700px;
	border-bottom: 1px solid #c9baa5;
	margin-left: 10px 0;
	font-size: 16px;
	height: 45px;
	line-height: 45px;
}
#detail{
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	color: #757575;
	margin: 10px;
}
#doc{
	line-height: 28px;
	padding: 10px;
	font-size: 14px;
	border-bottom: 1px solid #c9baa5;
}
p{
	margin-top: 5px;
	text-indent: 2em;
}
#docpic{
	margin:20px;
	text-align: center;
}
#part3{
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	font-size: 13px;
}
.lj2{
	margin-right: 40px;
	color: #844004;
	font-size: 13px;
}
a.lj2{
	color:#844004;
}
#right1{
	border:1px solid #c9baa5;
	background-image: url(../images/bg.png);
	margin-bottom: 20px;
	margin-top: 20px;
}
#zuijin{
	margin-bottom: 10px;
	text-align: center;
}
li.zjlb{
	line-height: 30px;
	margin-left: 13px;
	list-style: none;
}
#right2{
	width: 280px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#mjzt{
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
}
#mjztd{
	background-image: url(../images/show_bg.png);
	height: 362px;
}
#mingjia{
	margin-left: 25px;
	margin-top: 25px;
	float: left;
}
#mingjiad{
	margin-left: 25px;
	margin-top: 15px;
	margin-right: 30px;
	float: left;
	position: relative;
	top:-150px;
}
.lj3{
	margin-left: 25px;
	margin-top: 15px;
	margin-right: 30px;
	float: left;
	position: relative;
	top:-150px;
}
#footer{
	height: 105px;
	clear: both;
	background-image: url(../images/foot.gif);
	color: #522a06;
	text-align: center;
	position: relative;
	top: 200px;
}
a.yj:link{
	color: #522a06;

}
a.yj:hover{
	text-decoration: none;
	color: #522a06;
}
a.yj{
	text-align: center;
	color: #522a06;
}